<%-include("../includes/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12 my-5 mx-2">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi possimus magnam eveniet ea consequatur officiis magni dolores accusantium iure! Aut dicta enim obcaecati deleniti, animi distinctio nihil fugit ab!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos dolorum repellendus sit odit voluptatum, architecto nostrum inventore sint labore facere qui! Excepturi minus tempore odio dicta cupiditate doloribus eaque.</h3>
        </div>
    </div>
</div>



<%-include("../includes/footer") %>