<%- include("../includes/header")%>
<div class="container" style="min-height: 800px;">
    <div class="row">
      <div class="col-nd-8 offset-2">
        <h2>About Page</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, unde accusantium cum nulla soluta vero magni natus accusamus iste expedita excepturi officia totam vel deserunt illum, praesentium, adipisci similique repellat.</p>
       </div>
    </div>
</div>
<%- include("../includes/footer")%>