<%- include("../includes/header") %>
<div class="container" style="min-height:700px;">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2>Contact Page</h2>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>