<%- include("../includes/header") %>
<div class="container my-1">
    <div class="row">
        <div class="col-md-12">
            <h3>Customers-list</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloribus distinctio, reiciendis doloremque ratione unde enim incidunt, tempora sit assumenda fugit earum totam perspiciatis! Ipsam placeat voluptates possimus tempora perferendis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores deserunt fugit officiis quisquam ullam consectetur ducimus perspiciatis itaque totam mollitia veritatis, exercitationem earum saepe, pariatur porro, vero dolore architecto error.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quia aut necessitatibus cumque temporibus facere cupiditate in corrupti! Officia labore culpa in aliquam sapiente enim mollitia quasi quaerat neque voluptatem.
            </p>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>