.box1{
    background: green;
    height: 50px;
    width: 700px;
    padding-left:30px;
    text-align: center;
}
.box2{
    background: yellow;
    height:50px ;
    width: 700px;
    padding-left:30px;
    text-align: center;
}
.box3{
    background: red;
    height: 200px;
    width:750px;
    text-align: center;
}
.box4{
    background: #000;
    height:300px;
    width:150px;
    text-align: center;
    margin-left:end;
}

.box5{
    background: orangered;
    height: 80px;
    width: 700px;
    text-align: center;
}