<html>
    <head>
    <style>
        body{
            background: orange;
        }
    </style>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <h2>my contact number</h2>
        <h4>+91-9977277017
            +91-8959740093
        </h4>
    </body>
</html>